name: test-coverage

on:
  push:
    branches: [main, master, devel]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          needs: coverage

      - name: Test coverage
        run: |
          cov <- covr::package_coverage(quiet = FALSE, clean = FALSE)
          print(cov)
          covr::codecov(coverage = cov)
        shell: Rscript {0}
